html {
  scroll-behavior: smooth;
  width: device-width;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(61, 61, 61);
  margin: 0px;
}



.videov iframe {
  width: 80%;
}

.header {
  padding: 80px;
  width: unset;
  text-align: center;
  background-image: linear-gradient(270deg, red,green,blue,yellow);
  background-size: 800% 800%;
  color: purple;
  animation: BanerAnimation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes BanerAnimation {
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

.header h1 {
  font-size: 40px;
}

.navbar {
  background-color: rgba(112, 255, 236, 0.164);
  display: flex;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  animation: colorSwitchNavBar;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.sidenav {
  left: 0;
  width: 300px;
  background-color: rgb(61, 61, 61);
  padding-top: 5px;}

.contents {
  border: 4px solid red;
  text-align: center;
  background-color: greenyellow;
  padding: 30px;
  list-style-type:none;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
}

.contents a:hover{
  background-color: red;
  color: yellow;
  transition-duration: 2s;
}

.contents a:not(:hover){
  transition-duration: 2s;
}

.contents li{
  text-decoration: none;
  color: black;
}

.main {
  left: 300px;
  top: 359px;
  position: absolute;
  background-image: url(../images/Background_Tiles/orange_paper.gif);
}

.main-text {
  text-align: justify;
  word-wrap: normal;
  font-size: 20px;
  margin: 30px;
}

.BackgroundButtons {
  padding: 4px;
  background-color: aquamarine;
  display: inline-block;
  text-align: center;
  border: solid 1px yellow;
  margin: 10px;
  cursor: pointer;
}

.BackgroundButtons img{
  height: 40px;
  width: 40px;
}

.header-with-line {
  border-bottom:2px solid rgb(255, 0, 0);
  width:100%;
  word-wrap: break-word;
  font-size: 46px;
  text-align: center;
  padding-bottom:3px;
  padding-left: 0px;
}

.dropdown-btn img {
  width: 290px;
  height: 60px;
  vertical-align: middle;
}

@keyframes colorSwitchNavBar {
  0%   {background-color:red;}
  25%  {color: black; background-color:yellow;}
  50%  {color: white; background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:red;}
}

@keyframes colorSwitch {
  0%   {background-color:red;}
  25%  {color: rgb(15, 211, 146); background-color:yellow;}
  50%  {color: white; background-color:blue;}
  75%  {color: rgb(15, 211, 146);background-color:green;}
  100% {background-color:red;}
}

.sidenav a, .dropdown-btn {
  padding: 6px 0 6px 0;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: rgb(15, 211, 146);
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.audiop {
  text-align: left;
}

.videov{
  text-align: center;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: rgb(19, 8, 8);
  animation: colorSwitch;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.active {
  color: white;
  animation-name: colorSwitch;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.dropdown-container {
  display: none;
  background-color: rgb(38, 38, 38);
  font-size: 20px;
}

.sidenav-free-text {
  color: cyan;
  font-size: 20px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.galleryBackground {
  border: 5px double green;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  background-image: url(../images/Background_Tiles/bluesand_paper.gif);
}

.gallery {
  transition: transform 1s;
  margin: 10px;
  display: inline-block;
  background-color: tomato;
  border: 2px solid rgb(19, 16, 223);
  width: 180px;
}

.gallery:hover {
  transform: scale(1.6);
  border: 2px solid rgb(28, 192, 14);
}

.gallery img {
  width: 100%;
  max-height: 400px;
}

.setupNewProfileGif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
  background: url(setup_new_profile.jpg) center top no-repeat;
  background-size: 80%;
}

.setupNewProfileGif:hover{
  background-image: url(setup_new_profile.gif);
}

.desc {
  margin: auto;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  color: black;
}

.gif_pictures{
  width: 600px;
  height: 1000px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 1s;
  cursor: pointer;
}

#GoToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 20;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#hideAndShowSideNav {
  background-color: rgb(2, 7, 255); 
  color: rgb(250, 4, 4); 
  border: 10px solid rgb(76, 175, 80);
  width: 50%;
  height: 100px;
  font-size: 38px;
  cursor: col-resize;
  margin: 30px;
  text-align: center;
  font-weight: bold;
}

#hideAndShowSideNav:hover{
  background-color: rgb(208, 255, 0);
  color: black;
  transition-duration: 2s;
}

#hideAndShowSideNav:not(:hover){
  background-color: rgb(2, 7, 255); 
  color: rgb(250, 4, 4); 
  transition-duration: 2s;
}

.button1 {
  background-color: rgb(2, 7, 255); 
  color: rgb(250, 4, 4); 
  border: 2px solid rgb(76, 175, 80);
  float: right;
  text-align: right;
}

.button1:hover {
  background-color: rgb(76, 175, 80);
  color: white;
}

@media screen and (max-width: 1015px) {
  .main {
    position: relative;
    left: auto;
    top: auto;
  }
  .sidenav{
    left: auto;
    position: relative;
    width: 100%;
  }
  .sidenav img {
    width: 75%;
    height: 80px;
  }
  .dropdown-container{
    margin: auto;
  }
  .dropdown-container a{
    font-size: 50px;
    margin: auto;
  }
  .sidenav a{
    font-size: 45px;
    margin: auto;
  }
  .main-text {
    font-size: 24px;
  }
  .desc {
    font-size: 24px;
  }
  #hideAndShowSideNav{
    display: none;
  }
}
