body {
background-image: url(../images/Index/allwindowslogos.jpg);
font-family: Arial, Helvetica, sans-serif;
}

.First-Header {
    text-align: center;
    background-color: blue;
    color: crimson;
    padding: 20px;
    margin: 50px 30px 50px 30px;
    font-size: 80px;
}
.explanation {
    text-align: justify;
    padding: 20px;
    margin: 50px 30px 50px 30px;
    font-size: 26px;
    background-image: url(../images/Background_Tiles/orange_paper.gif);
}
.Lang-header {
    text-align: center;
    background-color: rgb(60, 255, 0);
    color: rgb(121, 86, 41);
    margin: 50px 30px 50px 30px;
    padding: 20px;
    font-size: 50px;
}
.flags {
    text-align: center;
}
.ukflag {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 300px;
    margin: 20px;
}
.grflag {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 300px;
    margin: 20px;
}